<ion-view view-title="{{'global.MY_CART' | translate }}">
  <ion-content>
    <ion-list show-delete="cart.CartService.shouldShowDelete"
          can-swipe="cart.listCanSwipe">
  <ion-item ng-repeat="item in cart.CartService.items track by $index"
            class="item-thumbnail-left" >

    <img ng-src="{{item.image}}" ui-sref="app.item({category_id: item.category_id, item_id: item.id})">
    <h2>{{item.title}}</h2>
    <p>{{item.quantity}} X {{item.price}} = {{ item.quantity * item.price | currency}} </p>
    <p>{{item.description}}</p>
    <ion-option-button class="button-info"
                       ng-click="cart.CartService.changeQty(item)">
      {{ 'global.CHANGE_QTY' | translate }}
    </ion-option-button>
    <ion-delete-button class="ion-minus-circled"
                       ng-click="cart.CartService.removeItem(item)">
    </ion-delete-button>
    <div class="row">
      <div class="col">
        Quantidade: {{item.quantity}}
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button class="button button-small icon ion-plus" ng-click="cart.CartService.incrementQuanity(item)"></button>
        <button class="button button-small icon ion-minus" ng-click="cart.CartService.decrementQuanity(item)"></button>
      </div>
    </div>
  </ion-item>
</ion-list>
</ion-content>
  <div class="bar bar-footer bar-positive">
  <button class="button button-clear icon-right ion-chevron-right pull-right">
    {{ 'global.PLACE_ORDER' | translate }}
  </button>
</div>
</ion-view>
