<ion-view view-title="{{ 'global.CATEGORIES' | translate }}">
  <ion-content>

    <ion-list>
      <ion-item ng-repeat="category in category.categories" class="item-thumbnail-left" ui-sref="app.category({category_name: category.title ,category_id: category.id})">
        <img ng-src="{{ category.image }}">
        <h2>{{ category.title }}</h2>
        <p>{{ category.description }}</p>
      </ion-item>
    </ion-list>
    <div ng-if="category.error" class="row">
      <div class="col col-100">
        Displays error message.
      </div>
    </div>
  </ion-content>
</ion-view>
