<ion-view hide-back-button="false">
			<ion-nav-title>{{item.item.title}}</ion-nav-title>
	  	<ion-content>
	  	<ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="true" ng-if="item.item.images.data">
		  <ion-slide ng-repeat="image in item.item.images.data">
		    <div class="box blue">
		    	<img class="fullscreen-image" ng-src="{{image.image}}" />
		    </div>
		  </ion-slide>
		</ion-slide-box>
			<div class="row">
			  <div class="col" style="text-align: center">
					<h4>{{item.item.title}}</h4>
				</div>
			</div>
			<div class="row">
				<div class="col padding justifyMRA">
	  				{{item.item.description}}
				</div>
			</div>
			<div class="list">

			  <a class="item item-icon-left" href="#">
			    <i class="icon ion-social-usd balanced"></i>
			    {{ 'global.PRICE' | translate }}
					<span class="badge badge-assertive">{{item.item.price | currency}}</span>
			  </a>

			  <a class="item item-icon-left item-icon-right" href="#">
			    <i ng-show="item.item.active" class="icon ion-thumbsup balanced"></i>
					<i ng-hide="item.item.active" class="icon ion-thumbsdown assertive"></i>
					<span ng-show="item.item.active"> {{ 'global.ACTIVE_ITEM' | translate }} </span>
					<span ng-hide="item.item.active"> {{ 'global.INACTIVE_ITEM' | translate }} </span>
			  </a>

				<a class="item item-icon-left item-icon-right" href="#">
						<i ng-show="item.item.deliverable" class="icon ion-ios-cart balanced"></i>
						<i ng-hide="item.item.deliverable" class="icon ion-ios-cart-outline assertive"></i>
						<span ng-show="item.item.deliverable"> {{ 'global.DELIVERABLE_ITEM' | translate }} </span>
						<span ng-hide="item.item.deliverable"> {{ 'global.NOTDELIVERABLE_ITEM' | translate }} </span>
			  </a>

			</div>
			<button class="button button-full icon-right ion-ios-cart button-positive" ng-click="item.cart.addItem(item.item)">{{'global.ADD_TO_CART' | translate}}</button>
		</ion-content>

 </ion-view>
