<ion-view view-title="{{item.item.title}}" hide-back-button="false">

	  	<ion-content>
	  		    <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="true">
		  <ion-slide>
		    <div class="box blue">
		    	<img class="fullscreen-image" src="img/fap-09.jpg" />
		    </div>
		  </ion-slide>
		  <ion-slide>
		    <div class="box yellow">
		    	<img class="fullscreen-image" src="img/fap-09.jpg" />
		    </div>
		  </ion-slide>
		  <ion-slide>
		    <div class="box pink">
		    	<img class="fullscreen-image" src="img/fap-09.jpg" />
		    </div>
		  </ion-slide>
		</ion-slide-box>
		<div class="padding justifyMRA">
	  	{{item.item.description}}
	  	</div>
		</ion-content>

 </ion-view>
