  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="login.AuthService.cancelLogin()">Cancel</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form method="post">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="login.AuthService.loginData.email" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="login.AuthService.loginData.password" required>
        </label>
        <label class="item">
          <button class="button button-block button-positive" ng-click="login.AuthService.doLogin('MyRestaurantAPI')" type="button">
          Log in</button>
        </label>
      </div>
    </form>
  </ion-content>
