<ion-view view-title="{{ 'global.CATEGORIES' | translate }}">
  <ion-content>

    <ion-list>
      <ion-item class="item-thumbnail-left" ui-sref="app.menuCategory">
        <img src="img/fap-09.jpg">
        <h2>a</h2>
        <p>aa</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" ui-sref="app.menuCategory">
        <img src="img/fap-09.jpg">
        <h2>a</h2>
        <p>aa</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" ui-sref="app.menuCategory">
        <img src="img/fap-09.jpg">
        <h2>a</h2>
        <p>aa</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
