<ion-view view-title="{{ 'global.CATEGORIES' | translate }}">
  <ion-content>
    <div class="list">

    <a class="item item-thumbnail-left" ui-sref="app.menuCategory">
      <img src="img/fap-09.jpg">
      <h2>Pretty Hate Machine</h2>
      <p>Nine Inch Nails</p>
    </a>

    <a class="item item-thumbnail-left" ui-sref="app.menuCategory">
      <img src="img/fap-09.jpg">
      <h2>Pretty Hate Machine</h2>
      <p>Nine Inch Nails</p>
    </a>

    <a class="item item-thumbnail-left" ui-sref="app.menuCategory">
      <img src="img/fap-09.jpg">
      <h2>Pretty Hate Machine</h2>
      <p>Nine Inch Nails</p>
    </a>

</div>
  </ion-content>
</ion-view>
